* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
font-family: Arial;
background: #0f172a;
color: white;
}

/* NAVBAR */
.navbar {
display: flex;
justify-content: space-between;
padding: 20px 10%;
}

.logo {
color: #38bdf8;
}

.nav-links {
display: flex;
gap: 20px;
list-style: none;
}

.nav-links a {
color: white;
text-decoration: none;
}

/* HERO */
.hero {
display: flex;
align-items: center;
justify-content: space-between;
padding: 80px 10%;
}

.hero-text h1 {
font-size: 45px;
}

.hero-text p {
margin: 10px 0;
color: #94a3b8;
}

.hero-image img {
width: 350px;
border-radius: 10px;
}

/* BUTTON */
.btn {
display: inline-block;
margin-top: 15px;
padding: 10px 20px;
background: #38bdf8;
color: black;
text-decoration: none;
border-radius: 5px;
}

/* PROJECTS */
.project-container {
display: flex;
gap: 20px;
padding-top: 20px;
}

.card {
background: #1e293b;
padding: 20px;
border-radius: 10px;
flex: 1;
}

/* SKILLS */
.skills span {
background: #38bdf8;
color: black;
padding: 8px 12px;
margin: 5px;
display: inline-block;
border-radius: 5px;
}

/* SECTION */
section {
padding: 60px 10%;
}

/* MOBILE */
@media (max-width: 768px) {
.hero {
flex-direction: column;
text-align: center;
}

```
.project-container {
    flex-direction: column;
}
```

}
.contact-container {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px;
    background: #38bdf8;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}

.contact-info {
    color: #94a3b8;
}

/* Mobile */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }
}